
.swiper.mainSlider{
  width: 100%;
  height: 100%;
}

.swiper.mainSlider .swiper-slide {
position: relative;
height: 100%;
width: 100%;
}
.swiper.mainSlider .swiper-slide img{
    height: 100%;
    width: 100%;
    
}
.swiper.mainSlider .swiper-slide p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:12px 16px ;
    white-space: nowrap;
    backdrop-filter: blur(5px);
    border-radius: 32px;
     color: white;
    font-size: 2rem;
    letter-spacing: 10px;
}
